
.chat-side
  .chat-side__header
    .chat-side__header--box
      %p.chat-side__header--box--name
        masa
      .chat-side__header--box--logo
        .chat-side__header--box--logo--left
          = link_to "#" do
            %i.fas.fa-edit

        .chat-side__header--box--logo--right
          = link_to "#" do
            .i.fas.fa-cog
            


  .chat-side__groups
    .chat-side__groups--group
      .chat-side__groups--group--left
        .chat-side__groups--group--name
          techcamp
        .chat-side__groups--group--message
          まだメッセージはありません

    .chat-side__groups--group
      .chat-side__groups--group--left
        .chat-side__groups--group--name
          techcamp
        .chat-side__groups--group--message
          まだメッセージはありません

        






 